all:
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn:      mysql:host=localhost;dbname=yourdb_name
      username: yourusername
      password: yourpassword
      attributes:
        default_table_collate: utf8_general_ci
        default_table_charset: utf8
      
test:
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn:      mysql:host=localhost;dbname=your_dbname
        username: yourusername
        password: yourpassword
	attributes:
        default_table_collate: utf8_general_ci
        default_table_charset: utf8
